#section-hero,
#section-about,
#section-projects,
#section-contact {
  border: 1px solid red;
}

body {
  background-color: rgb(182, 182, 182);
}

/* ========= hero =========  */
#section-hero {
  margin: 10rem 23rem;
}

/* ========= about =========  */
#section-about {
}

/* ========= projects =========  */
#section-projects {
}

/* ========= contact =========  */
#section-contact {
}
