@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap");

:root {
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

  --primary: rgb(152, 50, 248);

  --text: hsl(0, 0%, 29%);
  --text-white: rgb(255, 255, 255);

  --line-thickness: 1px;
  --section-heading: 2.25rem;

  --font-style: "Montserrat", sans-serif;
  --font-neutral: "Open Sans", sans-serif;
}

/* debugging */
/* debugging */
/* debugging */
* {
  border: 1px solid black;
}
/* debugging */
/* debugging */
/* debugging */

#section-hero,
#section-about,
#section-projects,
#section-contact {
  border: 1px solid rgb(255, 0, 0);
}

body {
  background-color: rgb(255, 255, 255);
}

#section-heading {
  font-size: var(--section-heading);
  font-family: var(--font-style);
}

/* ========= navbar =========  */
.navbar {
  font-family: var(--font-style);
}
#navbar-logo:hover {
  color: var(--text);
}
.navbar-end > .navbar-item > a {
  color: var(--text);
  transition: var(--transition);
}
.navbar-end > .navbar-item > a:hover {
  color: var(--primary);
  transition: var(--transition);
}
#navbar-resume-button {
  transition: var(--transition);
}
#navbar-resume-button:hover {
  border: var(--line-thickness) solid var(--primary);
  transition: var(--transition);
  color: var(--primary);
}
#navbar-contact-button {
  transition: var(--transition);
  border: var(--line-thickness) solid var(--primary);
  color: var(--primary);
}
#navbar-contact-button:hover {
  background-color: var(--primary);
  transition: var(--transition);
  color: var(--text-white);
}
/* ========= hero =========  */
#section-hero {
  font-family: var(--font-style);
}
.hero-body {
  max-width: 1500px;
  margin: 0 auto;
  padding-top: 12rem;
}
#hero-body {
  align-items: flex-start;
}
#title {
  font-size: 4.5rem;
  /* font-size: clamp(1rem, 10vw, 2rem); */
}

#subtitle {
  font-size: 2.25rem;
  /* font-size: clamp(1rem, 10vw, 2rem); */
}

#hero-description {
  font-family: var(--font-neutral);
}
/* ========= about =========  */
#section-about {
  /* margin: 10rem 23rem; */
  font-family: var(--font-neutral);
  max-width: 880px;
  margin: 0 auto;
  border: 1px solid rgb(47, 0, 255);
}

/* ========= projects =========  */
#section-projects {
  /* margin: 10rem 23rem; */
  max-width: 1200px;
  /* max-width: 880px; */
  margin: 0 auto;
  border: 1px solid rgb(47, 0, 255);
  font-family: var(--font-neutral);
}

#project-heading {
  font-family: var(--font-style);
}
/* ========= contact =========  */
#section-contact {
  /* margin: 10rem 23rem 0rem 23rem; */
  font-family: var(--font-neutral);
}
